<footer>
  <a href="https://github.com/CamelliaCommunity" target="_blank" class="bigLogoLol">
    <img
      src="https://raw.githubusercontent.com/CamelliaCommunity/.github/refs/heads/main/maintainedby.png"
      alt="Big Theaceae Logo"
      height="48"
    />
  </a>
  <div id="footerStuff">
    <p id="legalText">
      <a href="/terms-of-service">Terms of Service</a>
      •
      <a href="/privacy-policy">Privacy Policy</a>
    </p>
    <p id="footerText">
      Created by
      <a href="https://github.com/CamelliaCommunity/Wiki" target="_blank">pptek</a>
      with the contribution of
      <a href="https://github.com/CamelliaCommunity/Wiki/graphs/contributors" target="_blank">others</a>.
    </p>
  </div>
</footer>
